extends layout

block head
  script(src='javascripts/admin.js' crossorigin='anonymous')

block content
  div(class='pure-g')
    div(id='errors' class='pure-u-1')

  div(class='pure-g')
    div(class='pure-u-2-5')

      div
        h4(style='border-bottom:1px solid #e5e5e5;') Game State
        table(class='state-table')
          tr
            td Game Id:
            td(id='game-id')
          tr
            td State:
            td(id='game-state')
          tr
            td Auto-Start:
            td(id='game-auto-start')
          tr
            td Min Snakes:
            td(id='min-snakes')
          tr
            td Queue:
            td
              ul(id='snake-list' class='snake-list')
      
      div
        h4(style='border-bottom:1px solid #e5e5e5;') Game Config
        div(class='pure-control-group align-right')
          button(type='button' class='pure-button' id='apply-config') Apply
        form(class='pure-form pure-form-aligned')
          fieldset
            label(for='auto-start' class='snake-name-label' style='padding:0.5em;') Auto-Start
            input(type='checkbox' class='config' id='auto-start-chk')            
      
      div
        h4(style='border-bottom:1px solid #e5e5e5;') Add Snake
        div(class='pure-control-group align-right')
              button(id='add-snake-btn' type='button' class='pure-button' style='margin:0.5em;') Add
        form(class='pure-form')
          fieldset(class='snake-group')
            div(class='pure-control-group')
              input(id='snake-name' class='snake-name snake-input' type='text' placeholder='Name')
              input(id='snake-url' class='snake-url snake-input' type='text' placeholder='URL')              
            
      div
        h4(style='border-bottom:1px solid #e5e5e5;') Start Game
        div(class='pure-control-group align-right')
          button(id='start-game-btn' type='button' class='pure-button' style='margin:0.5em;') Start Now    

    div(class='pure-u-3-5')
      iframe(id="board" width='100%' height='600px' frameBorder='0')