body {
  padding: 20px;
  background-color: #402170;
  color: #fff;
}

body input {
  color: #000;
}

.snake-list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
}

.state-table td {
  vertical-align: top;
  padding: 5px;
}
